<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>2-3前 電商網頁切版</title>
</head>
  <link rel="stylesheet" href="stylesheets/all.css">
  <script src="https://kit.fontawesome.com/62c3f5be30.js" crossorigin="anonymous"></script>
<body>
  <header>
    <div class="nav-wrapper">
      <div class="search-mobile">
        <i class="fas fa-search nav-tool-search"></i>
      </div>
      <a href="#" class="nav-brand">
        <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/14985/logo-2021.png" alt="logo" class="logo-img">
        <p class="nav-brand-name">TSHIRT STORE<span>®</span></p> 
      </a>
      <nav class="nav-menu">
        <a href="#" class="nav-menu-item">Men</a>
        <a href="#" class="nav-menu-item">Women</a>
        <a href="#" class="nav-menu-item">Kids</a>
      </nav>            
      <div class="nav-tool">
        <i class="fas fa-search nav-tool-search"></i>
        <i class="far fa-heart nav-tool-heart"></i>
        <i class="fas fa-shopping-bag nav-tool-bag"></i>
        
      </div>
    </div>
  </header>
  {{body}}
  {{!-- <section class="subscription">
    <div class="subscription-wrapper">
      <div class="subscription-text">
        <p class="text-title">
          Get the latest T-shirt drops in your inbox! Sign up For our Newsletter
        </p>
        <div class="text-form">
          <input type="text" placeholder="enter email for news updates">
          <button class="sign-btn">SIGN UP!</button>
        </div>
        <p class="text-policy">
          By registering you agree with our<a href="https://www.tshirtstoreonline.com/en/integrity-policy"> Integrity Policy</a>
        </p>
      </div>      
    </div>
  </section> --}}
</body>
</html>