@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap')

/* css rest  */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #591246;
  color:#F2F2F2;
  font-family: "Lato", sans-serif; /* 設定字型 */
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  line-height: 0.9;
}
p {
  margin: 0;
}
ul,
li {
  list-style-type: none; /* 拿掉前方圈圈 */
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none; /* 拿掉底線 */
  color:#F2F2F2;
}


/* =========write my style here======== */
header{
  background-color: #0E0C40;
  position: fixed;
  width: 100%;
  height: 60px;
  z-index: 999;
  opacity: 0.8;
}

.nav-wrapper{
  width: 100%;
  height: 100%;
  display:grid;
  grid-template-columns: 1fr 3fr 2fr;
  justify-content: center;
  align-items: center;
  margin: 0 5%;
}

.nav-brand{
  display:flex;
  justify-content: center;
  align-items: center;
}
.nav-brand img{
  width:40px;
  height:40px;
}
.nav-brand-name{
  font-size:1.3rem;
  margin-left: 8px;
  font-weight: bold;
}
.nav-menu{
  display:none;
}

.search-mobile{
  justify-self:center;
}
.nav-tool{
  text-align: center;
  justify-self:center;
}
.nav-tool-search,.nav-tool-heart,.nav-tool-bag{
  font-size: 1.3rem;
  font-weight: bold;
  margin-right:20px;
}
.nav-tool > .nav-tool-search{
  display:none;
}

/* 整體內容空間一致 */
.main-container{
  /* background-color: grey; pre-veiw */
  max-width:90%px;
  margin:0 auto;
}
.category-container{
  max-width:90%;
  padding-top:100px;
  margin:0 auto;
  text-align:center;
}
.category-container h3{
  font-size: 1.7rem;
  margin-bottom: 1rem;
}
.category-wrapper{
  max-width:100%;
  display:flex;
  flex-flow:row wrap;
  justify-content: space-evenly;
  margin-bottom: 2rem;
  /* background-color: seagreen; */
}

.category-container select{
  width:40%;
  font-size: 1.2rem;
  text-align: center;
  margin: 10px 10px;
  padding: 2px 0;
  border-radius: 5px;
  border: 1px solid #97A6A0;
  font-family: "M PLUS Rounded 1c", sans-serif;
  color:#591246;
  font-weight: 600;
  letter-spacing: 2px;
}

.product-container{
  max-width: 90%;
  margin-top: 50px;
  
}
.card-wrapper{
  max-width:90%;
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1rem;
  justify-content: space-evenly;
  align-items:center;
  text-align: center;
  margin: 0 auto;
  background-color: #A61B4E;
  opacity:0.8;
  padding:0.5rem 0.2rem;
}
.card{
  /* outline:2px dashed grey; */
  position: relative;
  width:100%;
  height:100%;
  overflow:hidden;  /*出容器的圖片隱藏   */
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.08);
}

.cover-img, .real-img{
  width:100%;
  height:100%;
  object-fit:cover; /* 讓圖片不變形*/
  aspect-ratio: 1/1;   /* 維持 1:1 讓圖片維持正方形*/
  transition: opacity 0.9s ease-out;
  border-radius: 5%;
}
.product-heart {
  position:absolute;
  top:1.5rem;
  right:1.8rem;
  font-size: 2rem;
  z-index: 990;
  color: #F22E52;
  border-radius: 50%;
  background-color: white;
}

/*換圖片效果 */
.card-img{
  position: relative;
}
.real-img{
  opacity: 0;
}

.cover-img{
  /* background-color: blue; */
  position: absolute;
  margin: 0 auto;
  opacity: 1;
}

.card:hover .real-img {
  opacity: 1;
}

.card:hover .cover-img {
  opacity: 0;
}

.card-text{
  text-align: center;
  font-size: 1rem;
}
span.sold-out {
  color:#0E0C40;
  font-weight: bold;
}
span.price{
  
  text-decoration: line-through;
  /* text-decoration-color:#0E0C40; */
  text-decoration-thickness: 3px;
}



/* Pagination*/
.pagination {
  padding: 2rem;
  text-align: center;
  font-size: 1rem;
  color: #fff;
}

/* subscription */
.subscription-container{
   background-image: url("https://assets-lighthouse.alphacamp.co/uploads/image/file/14376/template.png");
  max-width:90%;
  height: 150px;
  background-position: center;
  background-size: cover;
  margin:0 auto;
  text-align: center;
}

.subscription-text{
  color:#0E0C40;
  font-size: 0.8rem;
  padding-top:1.5rem;
  
}

.text-form{
  margin: 1rem 0;
}

.text-policy a {
  color:black;
  text-decoration:underline ;
}

.sign-btn{
  background-color:#A61B4E;
  color:#fff;
  font-size: 1rem;
}
/* ====footer==== */

footer{
  margin-top: 1rem;
  text-align:center;
  font-size: 0.8rem;
}

/* media setting */

@media screen and (min-width:960px){
  .nav-wrapper{
    all:unset;
    width: 100%;
    height: 100%;
    display:grid;
    grid-template-columns: 2fr 2fr 2fr;
    justify-content: center;
    align-items: center;
    margin: 0 5% 0 2.5%;
  }
  .search-mobile{
    display:none;
  }
  .nav-menu{
    display:block;
    display:flex;
    justify-content: space-between;
    font-size: 1.3rem;
  }

  .nav-tool > .nav-tool-search{
  display:inline;
  }

  .category-wrapper select{
    width:300px;

  }
}